.create-channel-container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 400px;
  margin: 3rem auto;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.create-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-pic-placeholder img {
  width: 80px;
  height: 80px;
  margin-bottom: 0.5rem;
}

.select-pic {
  color: #3ea6ff;
  cursor: pointer;
  margin-top: -0.5rem;
  font-size: 0.9rem;
}

.create-form input {
  padding: 0.8rem;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.create-form button {
  padding: 0.8rem;
  background-color: #3ea6ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
