
/* filter bar section */
.filter-bar {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 20px;
  margin-left: 20px;
  margin-top: 7px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  top: 50px;
  z-index: 998;
  border-bottom: 1px solid #ddd;
  gap: 10px;
  scrollbar-width: none;
  max-width: 100vw;
}

.filter-bar::-webkit-scrollbar {
  display: none;
}

/* filtered buttons/options */
.filter-bar button {
  padding: 8px 16px;
  border-radius: 20px;
  border: none;
  background-color: #f0f0f0;
  font-size: 14px;
  color: #0f0f0f;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s ease-in-out;
  flex-shrink: 0;
}

/* filtre buttons hover effect */
.filter-bar button:hover {
  background-color: #e0e0e0;
}


/* selected filter button styling*/
.active-filter {
  background-color: #0f0f0f;
  color: white;
}


/* media queries */

/* medium screen - tab */
@media (max-width: 768px) {
  .filter-bar {
  margin-top: 120px; 
  font-size: 10px;
}
}

/* small screen - mobile phone */
@media (max-width: 480px) {
  .filter-bar {
  margin-top: 70px; 
  }
  .filter-bar button {
    font-size: 12px;
    padding: 6px 12px;
  }
}
